@import './variables.scss';

.App {
  background-color: $leaf-mint;
}
.App-header {
  background-color: $coral !important;
}
.announcement-title {
  color: $slate-gray;
}
.btn-mint,
.btn-success {
  background-color: $leaf-mint;
  border: none;
  color: $coral;
  &.hover,
  &.focus {
    background-color: $wonder-blue !important;
    color: $off-white !important;
  }
}

.nav-link {
  color: $coral;
}

.header {

}

.footer {
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  background-color:$black-drop;
  color:$leaf-mint;
  padding-top:40px;
  .subFooter {
    background-color: darken($black-drop, 6%);
    margin-top:40px;
    padding:10px 0;
  }
}