@import './variables.scss';

.body {
  p {
    font-family:'Roboto Condensed', sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "PT Sans Narrow", sans-serif;
  }
}

.App {
  background-color: $leaf-mint;
}
.App-header {
  background-color: $coral !important;
}
.announcement-title {
  color: $slate-gray;
}

.btn {
  background-color:$wonder-blue;
  border:0px;
  &:hover {
    background-color:darken($wonder-blue, 15%);
    color:lighten($wonder-blue, 10%);
  }
}

.btn-mint,
.btn-success {
  background-color: $leaf-mint;
  border: none;
  color: $coral;
  &.hover,
  &.focus {
    background-color: $wonder-blue !important;
    color: $off-white !important;
  }
}



.header {
  padding:15px 0;
  .nav-link {
    color: $coral;
    padding:6px 10px;
    text-transform:uppercase;
    letter-spacing:1.3px;
    &:active, &:hover {
      color:$wonder-blue;
    }
  }
}

.footer {
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  background-color:$black-drop;
  color:$leaf-mint;
  padding-top:40px;
  .subFooter {
    background-color: darken($black-drop, 6%);
    margin-top:40px;
    padding:10px 0;
  }
}