/* COLORS */

/* main scheme */
$true-white: #ffffff;
$black-drop: #2a2d34;
$leaf-mint: #99e1d9;
$off-white: #f0f7f4;
$coral: #70abaf;
$slate-gray: #696d7d;
$eggnog: #faf3dd;
$wonder-blue: #30c5ff;

$light-grey: lighten($slate-gray, 20%);
$mid-grey: lighten($slate-gray, 40%);
